/* 모든 태그 */
*{
    /* 마진 패딩 0으로 초기화 */
    margin: 0;
    padding: 0;

    /* ul,li 태그 모양 없애기 */
    list-style: none;
    /* border 를 content 크기에 병합 */
    box-sizing: border-box;

    /* 글자 자간과 줄 간격 */
    letter-spacing: 1px;
    line-height: 1.2em;

    /* 폰트 적용 */
    font-family: 'Roboto', sans-serif;

    /* 다크버전이라 글자색깔을 바꾸 */
    color: white;
}
/* 다크버전이라 배경색깔을 바꿈 */
body{
    background-color: #010d14;
}

/* 스크롤 바 크기 */
::-webkit-scrollbar{
    width: 5px; 
    height: 5px;
}
/* 스크롤 바 스크롤 트랙 */
::-webkit-scrollbar-track{
    background-color: #EEEEEE;
}
/* 스크롤 바 스크롤 막대 */
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #010d14;
}

/* 탑 바 (header) */
.header__topBar{
    /* 탑바 크기 */
    width: 100%;
    height: 70px;

    /* 탑바를 화면에 고정 */
    position: fixed;
    top: 0;
    left: 0;

    /* 양쪽으로 분배 */
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #36AFFF;
}
/* 탑 바 왼쪽 (div) */
.header__topBar__left{
    /* 왼쪽 간격 조정 */
    margin-left: 80px;

    /* 폰트 설정 */
    font-size: 2em;
    font-weight: bold;
    color: white;
}
/* 탑 바 오른쪽 (nav) */
.header__topBar__right{
    /* 오른쪽 간격 조정 */
    margin-right: 80px;

    /* 가로 정렬을 위해 flex 설정 */
    display: flex;

    /* 폰트 설정 */
    font-size: 1.2em;
    color: white;
}
/* 탑 바 오른쪽 내부의 모든 태그 선택 (li) */
.header__topBar__right *{
    /* 마우스 커서가 바뀜 */
    cursor: pointer;

    /* 각 목록마다 간격 조정 */
    margin-left: 10px;

    /* 텍스트 링크 밑줄 제거 */
    text-decoration: none;
    color: white;
}

/* 내용 박스 (section) */
.section__content{
    /* 화면 100% (80%로 해두고 max-width를 없애도 됨)*/
    width: 100%;
    /* 가로 크기를 1280px이상으론 안커짐 */
    max-width: 1280px;
    height: auto;

    /* 가운데 정렬 */
    margin: 0 auto;
    /* 탑바 크기가 70px이라 탑에서부터 70px + 40px 밀어줌 */
    margin-top: 70px;
    padding: 40px;
}
/* 내용 박스 내부의 article태그 (article) */
.section__content article{
    width: 100%;
    height: auto;

    /* 각 목록마다 간격 조정 */
    margin-bottom: 100px;
}

/* 박스1 */
.section__content__box1{
    margin: 40px 0;

    display: flex;
    flex-direction: column;
}
.section__content__box1 .title{
    margin-bottom: 20px;

    font-size: 2em;
    color: #36AFFF;
}
.section__content__box1 .content{
    font-size: 1.2em;
}

/* 박스2 */
.section__content__box2{
    display: flex;
}
.section__content__box2 .img{
    width: 400px;
    height: 400px;
}
.section__content__box2 .textBox{
    margin-left: 40px;
}
.section__content__box2 .title{
    margin-bottom: 20px;

    font-size: 2em;
    color: #36AFFF;
}
.section__content__box2 .content{
    font-size: 1.2em;
}

/* 박스3 */
.section__content__box3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* 박스3 안에 카드 */
.section__content__box3 .card{
    width: 250px;
    height: 350px;

    margin: 10px;

    /* 안에 텍스트 가운데 정렬 */
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2em;
    font-weight: bold;
    color: #36afff;

    /* 테두리 설정 */
    border: 5px solid #36afff;
}

/* footer */
.footer{
    width: 100%;
    height: 50px;

    /* 글자를 오른쪽으로부터 40px 뗌 */
    padding-right: 40px;

    /* x:오른쪽 y:가운데 정렬 */
    display: flex;
    justify-content: flex-end;
    align-items: center;

    color: white;

    background-color: #36AFFF;
}